**/.DS_Store
Semester 4/E&M HW/diffcoefflocal.sty
*.gz
*.hiddenFalsePositives.en-US.txt
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.toc
Semester 5/Machine Learning/HW/HW2/__pycache__/customVOC.cpython-313.pyc
Semester 5/Machine Learning/HW/HW2/data/*
Semester 5/Machine Learning/HW/HW2/lightning_logs/*